In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key

/Users/terencelin/.pyenv/versions/3.9.0/lib/python3.9/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yellowknife,CA,2021-01-11 01:39:45,62.4560,-114.3525,6.80,92,90,6.91
1,1,Punta Arenas,CL,2021-01-11 01:38:03,-53.1500,-70.9167,46.40,66,90,11.50
2,2,Deputatskiy,RU,2021-01-11 01:39:45,69.3000,139.9000,-34.40,82,59,4.56
3,3,Ushuaia,AR,2021-01-11 01:38:59,-54.8000,-68.3000,42.80,70,75,20.71
4,4,Butaritari,KI,2021-01-11 01:39:46,3.0707,172.7902,81.23,81,100,17.63

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = city_data_df[["Lat","Lng"]]
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=temps, dissipating = False,
                                max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False,max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
locations = city_data_df[["Lat","Lng"]]
clouds=city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
min_temp= float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Butaritari,KI,2021-01-11 01:39:46,3.0707,172.7902,81.23,81,100,17.63
9,9,Angoche,MZ,2021-01-11 01:39:47,-16.2325,39.9086,78.53,82,87,7.81
10,10,Bonoua,CI,2021-01-11 01:39:47,5.2741,-3.5950,80.60,94,20,4.61
15,15,Kapaa,US,2021-01-11 01:39:48,22.0752,-159.3190,78.80,73,40,13.80
16,16,Hilo,US,2021-01-11 01:35:28,19.7297,-155.0900,82.40,54,1,10.36
22,22,Namatanai,PG,2021-01-11 01:39:50,-3.6667,152.4333,86.47,63,40,2.01
25,25,Rikitea,PF,2021-01-11 01:39:51,-23.1203,-134.9692,78.31,78,56,16.84
26,26,Dingle,PH,2021-01-11 01:39:51,10.9995,122.6711,76.06,86,99,17.29
32,32,Batemans Bay,AU,2021-01-11 01:39:53,-35.7167,150.1833,84.99,35,90,12.93
35,35,Tautira,PF,2021-01-11 01:39:53,-17.7333,-149.1500,86.00,58,75,10.36

In [9]:
preferred_cities_df.count()

City_ID       131
City          131
Country       131
Date          131
Lat           131
Lng           131
Max Temp      131
Humidity      131
Cloudiness    131
Wind Speed    131
dtype: int64

In [10]:
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4     Butaritari      KI     81.23   3.0707  172.7902
9        Angoche      MZ     78.53 -16.2325   39.9086
10        Bonoua      CI     80.60   5.2741   -3.5950
15         Kapaa      US     78.80  22.0752 -159.3190
16          Hilo      US     82.40  19.7297 -155.0900
22     Namatanai      PG     86.47  -3.6667  152.4333
25       Rikitea      PF     78.31 -23.1203 -134.9692
26        Dingle      PH     76.06  10.9995  122.6711
32  Batemans Bay      AU     84.99 -35.7167  150.1833
35       Tautira      PF     86.00 -17.7333 -149.1500

In [11]:
params = {
    "radiius": 5000,
    "type": "lodging",
    "key": g_key,
}

In [14]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params= params).json()
params

{'radiius': 5000,
 'type': 'lodging',
 'key': 'AIzaSyA9jO0mVyCDvTU1sYy2wEa8xHOuPMyjEwI',
 'location': '-13.8833,167.55'}

In [13]:
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4     Butaritari      KI     81.23   3.0707  172.7902
9        Angoche      MZ     78.53 -16.2325   39.9086
10        Bonoua      CI     80.60   5.2741   -3.5950
15         Kapaa      US     78.80  22.0752 -159.3190
16          Hilo      US     82.40  19.7297 -155.0900
22     Namatanai      PG     86.47  -3.6667  152.4333
25       Rikitea      PF     78.31 -23.1203 -134.9692
26        Dingle      PH     76.06  10.9995  122.6711
32  Batemans Bay      AU     84.99 -35.7167  150.1833
35       Tautira      PF     86.00 -17.7333 -149.1500